<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<!-- Jumbotron -->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead"> </p>
        </div>
        <h1 id="social_title">Social Media</h1>
        <div class="social-icon">
        <a href="#"><i class="fab fa-instagram social"></i></a>
        <a href="#"><i class="fab fa-twitter social"></i></a>
        <a href="#"><i class="fab fa-linkedin social"></i></a>
        <a href="#"><i class="fab fa-google-plus-g social"></i></a>
        <a href="#"><i class="fab fa-github social"></i></a>
        </div>
    </div>
    </div>
</div>
</html>